body {
    /* height: 200vh; */
    margin: 0; /* Remove default body margin */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 0px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(224, 219, 219);
    z-index: 1;
}

.navbar .left ul {
    display: flex;
    align-items: center;
    /* margin-left: -150px; */
}

.navbar .left ul li {
    list-style-type: none;
    margin: 0px 20px;
    padding: 10px;
    transition: 0.5s ease;
    border-radius: 5px;
}
.navbar .left ul li:hover {
    background-color: #f2f1f1;
}

.navbar .left ul li a {
    color: rgb(131, 122, 122);
    text-decoration: none;
}
.navbar .left ul li a.active{
    color: black;
}


.navbar .middle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
}

.navbar .middle input {
    margin-left: 15px;
    border: none;
    width: 250px;
    transition: 0.3s;
}
.navbar .middle input:focus {
    outline: none;
}

.navbar .icon {
    /* margin: 10px; */
    /* padding: 5px; */
    font-size: 20px;
    color: black;
}
.navbar .cart-button{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    position: relative;
}
.navbar .cart-button button{
    padding: 13px 19px 13px 19px;
}
.navbar .cart-button button:hover{
    background-color: rgb(249, 243, 243);
}
.navbar .cart-button button{
    cursor: pointer;
    background: none;
    border: none;
    margin-left: -75px;
}

.navbar .right button {
    font-size: 12px;
    border: none; /* Remove border */
    padding: 17px;
    margin-right: 20px; 
    cursor: pointer;
}

.navbar .right #signup {
    background-color: black;
    color: white;
}

.navbar .right .profilePicture{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}

.navbar .right .profilePicture:hover{
    cursor: pointer;
}

.navbar .right .profilePicture span{
    margin-inline: 10px;
}